{% extends 'layout.html' %}

{% block title %}
Giphy에 오신 것을 환영합니다.
{% endblock %}

{% block content %}
<div class="row">
    {% for trending in trendings %}
        <div class="card col-3 border border-dark" style="width: 18rem;">
          <img class="card-img-top" src={{trending[0]}} alt="Card image cap">
          <div class="card-body border border-dark">
            <h5 class="card-title">{{trending[2]}}</h5>
            <p class="card-text">{{trending[1]}}</p>
          </div>
        </div>  
    {% endfor %}
</div>
{% endblock %}


        